[submodule "soc/deps/migen"]
	path = soc/deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "soc/deps/litex"]
	path = soc/deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "soc/deps/litex-boards"]
	path = soc/deps/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "soc/deps/pythondata-cpu-serv"]
	path = soc/deps/pythondata-cpu-serv
	url = https://github.com/litex-hub/pythondata-cpu-serv.git
[submodule "soc/deps/pythondata-software-compiler_rt"]
	path = soc/deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
